<div class="traits">

    <div class="form-group">
        <label>{{localize "DND5E.Size"}}</label>
        <select class="actor-size" name="data.traits.size">
            {{#select data.traits.size}}
            {{#each config.actorSizes as |label size|}}
                <option value="{{size}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>

    {{#unless isVehicle}}
    <div class="form-group {{#unless data.traits.senses}}inactive{{/unless}}">
        <label>{{localize "DND5E.Senses"}}</label>
        <input type="text" name="data.traits.senses" value="{{data.traits.senses}}" placeholder="{{ localize 'DND5E.None' }}"/>
    </div>

    <div class="form-group {{data.traits.languages.cssClass}}">
        <label>{{localize "DND5E.Languages"}}</label>
        <a class="trait-selector" data-options="languages" data-target="data.traits.languages">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each data.traits.languages.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>
    {{/unless}}

    <div class="form-group {{data.traits.di.cssClass}}">
        <label>{{localize "DND5E.DamImm"}}</label>
        <a class="trait-selector" data-options="damageResistanceTypes" data-target="data.traits.di">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each data.traits.di.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{data.traits.dr.cssClass}}">
        <label>{{localize "DND5E.DamRes"}}</label>
        <a class="trait-selector" data-options="damageResistanceTypes" data-target="data.traits.dr">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each data.traits.dr.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{data.traits.dv.cssClass}}">
        <label>{{localize "DND5E.DamVuln"}}</label>
        <a class="trait-selector" data-options="damageResistanceTypes" data-target="data.traits.dv">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each data.traits.dv.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{data.traits.ci.cssClass}}">
        <label>{{localize "DND5E.ConImm"}}</label>
        <a class="trait-selector" data-options="conditionTypes" data-target="data.traits.ci">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each data.traits.ci.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    {{#if isCharacter}}
    <div class="form-group {{data.traits.weaponProf.cssClass}}">
        <label>{{localize "DND5E.TraitWeaponProf"}}</label>
        <a class="trait-selector" data-options="weaponProficiencies" data-target="data.traits.weaponProf">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each data.traits.weaponProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{data.traits.armorProf.cssClass}}">
        <label>{{localize "DND5E.TraitArmorProf"}}</label>
        <a class="trait-selector" data-options="armorProficiencies" data-target="data.traits.armorProf">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each data.traits.armorProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="form-group {{data.traits.toolProf.cssClass}}">
        <label>{{localize "DND5E.TraitToolProf"}}</label>
        <a class="trait-selector" data-options="toolProficiencies" data-target="data.traits.toolProf">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list">
        {{#each data.traits.toolProf.selected as |v k|}}
            <li class="tag {{k}}">{{v}}</li>
        {{/each}}
        </ul>
    </div>
    {{/if}}

    {{#unless isVehicle}}
    <div class="form-group ">
        <label>{{localize "DND5E.SpecialTraits"}}</label>
        <a class="configure-flags"><i class="fas fa-cog"></i></a>
    </div>
    {{/unless}}
    <!-- TEMPLATE actor-flags.html -->
    <form class="{{cssClass}}" autocomplete="off">
        <p class="notes">{{localize 'DND5E.FlagsInstructions'}}</p>

        {{#each flags as |fs section|}}
        <h3 class="form-header">{{localize section}}</h3>
        {{#each fs as |flag key|}}

        <div class="form-group">
            <label>{{localize flag.name}}</label>

            {{#if flag.isCheckbox}}
            <input type="checkbox" name="{{key}}" data-dtype="Boolean" {{checked flag.value}}/>

            {{else if flag.isSelect}}
            <select name="{{key}}" data-dtype="{{flag.type}}">
                {{#select flag.value}}
                {{#each flag.choices as |v k|}}
                <option value="{{k}}">{{localize v}}</option>
                {{/each}}
                {{/select}}
            </select>

            {{else}}
            <input type="text" name="{{key}}" value="{{flag.value}}" placeholder="{{flag.placeholder}}" data-dtype="{{flag.type}}"/>
            {{/if}}

            <p class="notes">{{localize flag.hint}}</p>
        </div>
        {{/each}}
        {{/each}}

        <h3 class="form-header">{{localize "DND5E.Bonuses"}}</h3>
        <p class="notes">{{localize "DND5E.BonusesHint"}}</p>
        {{#each bonuses as |b|}}
        <div class="form-group">
            <label>{{localize b.label}}</label>
            <input type="text" name="{{b.name}}" value="{{b.value}}"/>
        </div>
        {{/each}}

        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{localize 'DND5E.FlagsSave'}}
        </button>
    </form>
</div>